---

---

<header class="w-full py-12 px-24 flex justify-between">
    <nav class="flex">
      <div class="logo">Logo Goes Here</div>
      <ul class="flex text-lg">
        <li class="mx-4">Home</li>
        <li class="mx-4">Find a Group</li>
        <li class="mx-4">About Us</li>
        <li class="mx-4">Contact</li>
      </ul>
    </nav>
    <div class="account-buttons flex">
      <button class="w-20 h-12 mx-3 bg-primary-green rounded-sm">
        <span>Log In</span>
      </button>
      <button
        class="w-20 h-12 text-primary-green mx-3 border-2 border-primary-green rounded-sm"
      >
        <span>Sign Up</span>
      </button>
    </div>
</header>