---

---

<hero class='w-full my-36 flex flex-col justif-between items-center'>
  <h1 class='capitalize text-5xl my-6'>Looking for Group?</h1>
  <p class='text-lg my-6'>
    Connect with like-minded gamers and form the ultimate gaming group for your
    favorite multiplayer games.
  </p>
  <div class='account-buttons'>
    <button class='w-24 h-14 mx-3 bg-primary-green rounded-sm'>
      <span>Join Now</span>
    </button>
    <button
      class='w-24 h-14 text-primary-green mx-3 border-2 border-primary-green rounded-sm'
    >
      <span>Learn More</span>
    </button>
  </div>
</hero>
