---
import { Carousel } from "../Components/Carousel";
import Header from "../Components/Header.astro";
import Hero from "../Components/Hero.astro"
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-shades-dark text-shades-white">
    <Header />
    <Hero />
    <main>
      <Carousel client:load/>
      <div></div>
    </main>
    <footer>
      <div>
        <div class="subscribtion-container">
          <div>Logo Placeholder</div>
          <p>
            Subscribe to our newsletter for the latest updates on new features
            and product releases.
          </p>
          <form>
            <input />
            <button>Subscribe</button>
          </form>
          <p class="font-bold">Stay updated on our latest news and events.</p>
        </div>
        <div class="footer-links">
          <div class="col-1">
            <a class="link-header font-bold mb-1">About Us</a>
            <a>Home</a>
            <a>Contact</a>
            <a>About</a>
            <a>FAQ</a>
          </div>
          <div class="col-2">
            <a class="link-header font-bold mb-1">Connect With Us</a>
            <a>Twitter</a>
            <a>Instagram</a>
            <a>LinkedIn</a>
            <a>Youtube</a>
            <a>Discord</a>
          </div>
        </div>
      </div>
      <div class="footer-legal border-t-2">
        <div class="copyyright">
          <p>© 2023 Gamers United. All rights reserved.</p>
        </div>
        <div class="legal-links">
          <a>Privacy Policy</a>
          <a>Terms & Conditions</a>
          <a>Cookie Policy</a>
        </div>
      </div>
    </footer>
  </body>
</html>
